version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    expose:
      - "8080"
    environment:
      - PORT=8080
      - MONGODB_URL=mongodb://mongodb:27017/dd_db
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
